<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label stacked>NFC Content</ion-label>
    <ion-input type="text" [(ngModel)]="ndefMsg"></ion-input>
  </ion-item>
  
  
  <ion-item>
      <button ion-button large (click)=readTag() full>Read</button>
  </ion-item>
  <ion-item>
      <button ion-button large (click)=writeTag() full>Write</button>
  </ion-item>
</ion-content>
